<form [formGroup]="from">
    <div class="from-group"><label for="">
      new password
  
    </label><input formControlName="oldPassword" type="password" class="from-control"></div>
    <div class="from-group"><label for="">
      old password
    </label><input formControlName="newPassword" type="password" class="from-control"></div>
    <div class="from-group"><label for="">
      confirm password
    </label><input formControlName="confirmPassword" type="password" class="from-control"></div>
    <button class="btn btn-primary">change password</button>
  </form>